* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: whitesmoke;
}

button,
a,
input,
select,
textarea {
    &:focus {
        outline: 2px solid green;
    }
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.sr-only {
    font-size: 0;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    height: 0;
}
